<nav
  class="fixed top-0 left-0 z-50 w-full bg-white border-b shadow-sm border-slate-200"
>
  <div class="flex items-center justify-between px-6 py-4 mx-auto max-w-7xl">
    <!-- Logo -->
    <div class="flex items-center gap-3">
      <img src="logo.png" alt="logo" class="w-12 h-12 -m-2" />
      <span class="font-sans text-2xl font-bold text-slate-900">
        <a
          class="hover:text-brand-600"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
          (click)="closeMenu()"
          >OcTool</a
        >
      </span>
    </div>

    <!-- Botón hamburguesa -->
    <button
      class="text-3xl md:hidden text-slate-700 focus:outline-none"
      (click)="toggleMenu()"
    >
      <i class="fas" [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
    </button>

    <!-- Menú -->
    <ul
      [ngClass]="{
               'flex flex-col absolute top-[72px] left-0 w-full bg-white px-6 py-4 shadow-md md:static md:flex-row md:shadow-none md:gap-8':
                 isMenuOpen,
               'hidden md:flex md:flex-row md:gap-8':
                 !isMenuOpen
             }"
      class="z-40 text-base font-semibold transition-all duration-300 ease-in-out text-slate-700"
    >
      <li>
        <a
          class="nav-link"
          routerLink="/json-generator"
          routerLinkActive="active"
          (click)="closeMenu()"
          >JSON Generator</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/text-case"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Text Case</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/base64"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Base 64</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/word-count"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Word Counter</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/diff-checker"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Diff Checker</a
        >
      </li>
    </ul>
  </div>
</nav>
